
<link rel="stylesheet" href="/css/style.css">
<div id="service-page">

    
    <div class="search-container">
        <input type="text" class="search-bar" placeholder="Search">
    </div>

    
    <div class="text-boxes-container">
        {{ range sort .Pages "Params.order" }}
            <div class="text-box">
                <a href="{{ .Permalink }}" class="text-link">
                    {{ block "full-page-banner" . }}{{ end }}
                </a>
            </div>
        {{ end }}
    </div>
</div>
