{{ define "full-page-banner" }}


<div id="full-page-banner" data-aos="fade-up">
    <section >
        <div>
            <div>
                <div >
                  
                    <a href="{{ .Params.path }}">
                        <h1 class="test">{{ .Params.name }}</h1>
                        <p class="test">{{ .Params.category }}</p>
                        <p class="test">{{ .Params.description }}</p>
                    </a>
                </div>
                <div >
                    {{ block "social-media-icons" . }}{{ end }}
                </div>
            </div>
        </div>
    </section>
</div>

{{ end }}
